<!-- Shared Membership Cards Component -->
<div class="membership-levels">
    <div class="membership-level">
        <div class="membership-price">$75</div>
        <div class="membership-type">Individual</div>
        <div class="membership-description">Individual Members receive one admission to all Artist Recitals of the series.</div>
    </div>

    <div class="membership-level">
        <div class="membership-price">$125</div>
        <div class="membership-type">Family</div>
        <div class="membership-description">Family Memberships include four tickets to each of the Artist Recitals of the series.</div>
    </div>
</div>